In [1]:
import math
import json
import numpy as np
import pandas as pd
import networkx as nx
#import cartopy.crs as ccrs
import matplotlib.pyplot as plt
from IPython.display import Image
%matplotlib inline
import os
import conda

conda_file_dir = conda.__file__
conda_dir = conda_file_dir.split('lib')[0]
proj_lib = os.path.join(os.path.join(conda_dir, 'share'), 'proj')
os.environ["PROJ_LIB"] = proj_lib

from mpl_toolkits.basemap import Basemap

In [13]:
cities = pd.read_csv('data/Top50/top50cities.csv',delimiter=',')
cities

,Unnamed: 0,name,population,lat,lng,countryId,countryName,countryCode,fclName,geonameId
0,0,Moscow,10381222,55.75222,37.61556,2017370,Russia,RU,"city, village,...",524901
1,1,London,7556900,51.50853,-0.12574,2635167,United Kingdom,GB,"city, village,...",2643743
2,2,St Petersburg,5028000,59.93863,30.31413,2017370,Russia,RU,"city, village,...",498817
3,3,Berlin,3426354,52.52437,13.41053,2921044,Germany,DE,"city, village,...",2950159
4,4,Madrid,3255944,40.41650,-3.70256,2510769,Spain,ES,"city, village,...",3117735
5,5,Rome,2318895,41.89193,12.51133,3175395,Italy,IT,"city, village,...",3169070
6,6,Kyiv,2797553,50.45466,30.52380,690791,Ukraine,UA,"city, village,...",703448
7,7,Paris,2138551,48.85341,2.34880,3017382,France,FR,"city, village,...",2988507
8,8,Bucharest,1877155,44.43225,26.10626,798549,Romania,RO,"city, village,...",683506
9,9,Budapest,1741041,47.49801,19.03991,719819,Hungary,HU,"city, village,...",3054643
10,10,Hamburg,1739117,53.57532,10.01534,2921044,Germany,DE,"city, village,...",2911298
11,11,Minsk,1742124,53.90000,27.56667,630336,Belarus,BY,"city, village,...",625144
12,12,Warsaw,1702139,52.22977,21.01178,798544,Poland,PL,"city, village,...",756135
13,13,Belgrade,1273651,44.80401,20.46513,6290252,Serbia,RS,"city, village,...",792680
14,14,Vienna,1691468,48.20849,16.37208,2782113,Austria,AT,"city, village,...",2761369
15,15,Kharkiv,1430885,49.98081,36.25272,690791,Ukraine,UA,"city, village,...",706483
16,16,Barcelona,1621537,41.38879,2.15899,2510769,Spain,ES,"city, village,...",3128760
17,17,Novosibirsk,1419007,55.04150,82.93460,2017370,Russia,RU,"city, village,...",1496747
18,18,Nizhny Novgorod,1284164,56.32867,44.00205,2017370,Russia,RU,"city, village,...",520555
19,19,Milan,1236837,45.46427,9.18951,3175395,Italy,IT,"city, village,...",317343

In [ ]:
#import nodes to get id from nodes/hosts
hosts = pd.DataFrame() #creates a new dataframe that's empty
for idx,city in cities.iterrows():#.loc[cities['2017']>50000].iterrows():
    for p in range(1,14):
        if (os.path.exists('data/Top50/hosts/'+city['name']+str(p)+'.csv')):
            df = pd.read_csv('data/Top50/hosts/'+city['name']+str(p)+'.csv',index_col=False)
            hosts = pd.concat([hosts,df]).reset_index(drop=True)
print(len(hosts))
hosts=hosts.drop_duplicates()
print(len(hosts))

In [8]:
rev= pd.read_csv('data/reviews_total_geo_2.csv')

/Users/Eike/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5,6,7,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
hosts['lat']='NaN'
hosts['lng']='NaN'
#rev['city']='NaN'
hosts['country']='NaN'
for idx,city in cities.iterrows():
    l = hosts.loc[hosts.city==city['name']].index.tolist()
    for i in l:
        hosts.set_value(i,'lat',city['lat'])
        hosts.set_value(i,'lng',city['lng'])
        hosts.set_value(i,'city',city['name'].lower())
        hosts.set_value(i,'country',city['countryCode'].lower())

In [22]:
rev

,id,text,createdDate,experience,relationshipType,isPostTrip,to,from,fromPublicName,fromPublicAddressId,...,fromStatus,fromIsVerified,fromIsDeleted,fromBlockedBy,inverseReference,response,lat,lng,city,country
0,27077307,Amazing chef and humble human being. Willing t...,2018-10-17T22:09:22Z,positive,host,True,2009059021,2001999679,Dhanush Anand,109610804.0,...,yes,True,False,NaN,NaN,NaN,3.695000,96.868000,setiabudi,id
1,27152728,Amazing boy with amazing family . He met me up...,2018-10-28T19:16:31Z,positive,surf,True,2009059021,2007724821,Bakhar Sardzhaeva,271153483.0,...,no,False,False,NaN,NaN,NaN,25.258172,55.304717,dubai,ae
2,26922175,￼\n\n \n\nWe use cookies to enhance your exper...,2018-09-27T14:41:06Z,positive,surf,True,2008295707,2008797517,Sun-hyung Kim,312790604.0,...,maybe,False,False,NaN,NaN,NaN,37.598500,126.978300,seoul,kr
3,26866500,"I was ill, when I come to Alexey's place, so I...",2018-09-20T17:32:11Z,positive,surf,True,2008295707,2003041472,Michelle Kuglerová,123277124.0,...,maybe,False,False,NaN,NaN,NaN,49.400000,15.583333,jihlava,cz
4,26818885,Didn't end up staying at his house because of....,2018-09-15T05:17:31Z,positive,surf,True,2008295707,4294146,Yvette Shaw,6999267.0,...,no,False,False,NaN,NaN,NaN,-35.283333,174.083333,paihia,nz
5,26779351,С Алексеем было очень приятно и комфортно пров...,2018-09-10T12:56:37Z,positive,surf,True,2008295707,2008843836,Angelika Krasnozhonova,314663738.0,...,hang,True,False,NaN,NaN,NaN,58.596650,49.660070,"kirov,",ru
6,26176442,I had a great experience in Russia with Alexei...,2018-07-10T13:57:26Z,positive,surf,True,2008295707,2007359140,Diego Gabriel Cortez Fernandez,250795609.0,...,no,False,False,NaN,NaN,NaN,30.293650,120.161419,hangzhou,cn
7,26164016,I bet Alexey is definitely a good person. He l...,2018-07-09T09:52:29Z,positive,surf,True,2008295707,2007634207,Heejeong Yang,265596282.0,...,no,False,False,NaN,NaN,NaN,37.598500,126.978300,seoul,kr
8,26148751,My experience with Alexey was awesome. He is ...,2018-07-07T16:05:53Z,positive,surf,True,2008295707,2005150941,Siboney Godoy,176314139.0,...,hang,False,False,NaN,NaN,NaN,39.290380,-76.612190,"baltimore,",us
9,26119628,Alexey is a really amazing host!! At the first...,2018-07-04T09:15:01Z,positive,surf,True,2008295707,1003812034,Emma Jimenez,10585071.0,...,maybe,False,False,NaN,NaN,NaN,8.516569,-76.077564,pereira,co
10,26070512,He picked me up from the metro station when I ...,2018-06-28T14:23:37Z,positive,surf,True,2008295707,2005849713,Hacen G,194540967.0,...,yes,False,False,NaN,NaN,NaN,34.672790,3.263000,"djelfa,",dz
11,26053942,"Алексей отличный хозяин, встретил нас рано утр...",2018-06-26T14:42:10Z,positive,surf,True,2008295707,2007832634,Ольга Никонова,275586976.0,...,maybe,False,False,NaN,NaN,NaN,53.360556,83.763611,barnaul,ru
12,26003928,Alexey is a great guy. Kind and friendly. He a...,2018-06-20T14:32:53Z,positive,surf,True,2008295707,2003241768,Usman Qureshi,127733776.0,...,yes,True,False,NaN,NaN,NaN,33.690000,73.055100,islamabad,pk
13,25984425,Alexey's heart is bigger than Russia!\nThis ma...,2018-06-18T10:20:24Z,positive,surf,True,2008295707,2335358,Don Agusta,5040480.0,...,yes,True,False,NaN,NaN,NaN,0.902580,109.322340,"jeruk,",id
14,25967241,What a host ! Most friendly cooperative flexib...,2018-06-16T09:22:08Z,positive,surf,True,2008295707,1005272851,James Devassy,11571535.0,...,hang,False,False,NaN,NaN,NaN,56.950000,24.100000,riga,lv
15,25958224,"Общительный, но не навязчивый, приятный челове...",2018-06-15T03:48:22Z,positive,surf,True,2008295707,2008371763,Aleksandra Azargaeva,296570266.0,...,no,False,False,NaN,NaN,NaN,59.894444,30.264167,saint petersburg,ru
16,25925810,Alexey is a very kind man. We can share an ama...,2018-06-11T06:47:07Z,positive,surf,True,2008295707,2003406997,Carlos Fonseca,130742388.0,...,yes,False,False,NaN,NaN,NaN,3.030000,-75.166667,bogota,co
17,25864357,I enjoyed my time at Alexey's flat a lot! He i...,2018-06-03T13:20:22Z,positive,surf,True,2008295707,2004051785,Jakob Dhondt,147292982.0,...,yes,True,False,NaN,NaN,NaN,47.366667,8.550000,zurich,ch
18,25849744,"Alexey, fue un verdadero gusto poder compartir...",2018-06-01T11:02:21Z,positive,surf,True,2008295707,2008015379,Salvador Caballero,283103993.0,...,yes,True,False,NaN,NaN,NaN,3.030000,-75.166667,bogota,co
19,25836177,Alex! Many thanks for the hospitality. I reall...,2018-05-30T14:39:20Z,positive,surf,True,2008295707,4546374,Dmitriy Kovalchuk,7251495.0,...,maybe,True,False,NaN,NaN,NaN,59.894444,30.264167,sankt-peterburg,ru
20,25817847,"Отличный хост, дружелюбный, весёлый и умный . ...",2018-05-28T09:46:08Z,positive,surf,True,2008295707,2007557444,Алексей Музафаров,262250926.0,...,hang,False,False,NaN,NaN,NaN,55.725450,52.411220,naberezhnye,ru
21,25796652,"nice, funny guy , we had a good time)",2018-05-25T11:18:01Z,positive,surf,True,2008295707,2007112945,Liza Bychkova,238825879.0,...,hang,False,False,NaN,NaN,NaN,55.752222,37.615556,moscow,ru
22,27294790,That was really nice staying with George!\nHe’...,2018-11-18T12:05:08Z,positive,surf,True,2009276730,2003809576,Anya Melkhova,141582033.0,...,no,False,False,NaN,NaN,NaN,54.785167,56.045621,ufa,ru
23,26898589,Thanks Sergey for hosting me couple days in Mo...,2018-09-24T16:39:46Z,positive,surf,True,2007438797,2001795538,Kate Hordiichuk,106713864.0,...,no,False,False,NaN,NaN,NaN,50.433333,30.516667,kyiv,ua
24,26772088,Sergey is a very positive and nice person.When...,2018-09-09T17:07:32Z,positive,surf,True,2007438797,2000477803,Ibrahima Coulibaly,89692204.0,...,yes,True,False,NaN,NaN,NaN,14.670833,-17.438056,dakar,sn
25,26759090,"It was my first experience of using CS, I was ...",2018-09-08T07:26:40Z,positive,surf,True,2007438797,2003449394,Roman Voronin,134167757.0,...,maybe,False,False,NaN,NaN,NaN,60.757746,38.721800,ivanovo,ru
26,26417097,"He’s a kind and thoughtful guy,we had dinner a...",2018-08-04T10:06:42Z,positive,surf,True,2007438797,2007961168,Emma Yo,280969653.0,...,hang,False,False,NaN,NaN,NaN,29.922246,118.465463,guilin,cn
27,26243737,"Сергей очень хорошо встретил,была приятная пос...",2018-07-17T16:23:09Z,positive,surf,True,2007438797,2008698435,Lara Heyfetz,308917480.0,...,no,False,False,NaN,NaN,NaN,55.041500,82.934600,novosibirsk,ru
28,25790230,Sergey was a super host: he picked us up at th...,2018-05-24T13:04:25Z,positive,surf,True,2007438797,1000291530,Karine Rufino,8487303.0,...,no,False,False,NaN,NaN,NaN,-8.200000,-72.766667,porto alegre,br
29,26859000,"Everybody, who lives in their house, is very n...",2018-09-19T19:08:41Z,positive,surf,True,2009017440,2009045673,Dagmar Uhýrková,322781548.0,...,no,False,False,NaN,NaN,NaN,49.003941,15.254538,stare mesto,cz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96055,15953753,Stefano was so nice person. I would definitely...,2014-08-04T16:23:56Z,positive,host,False,2965823,1002071234,Olga Hakamäki,9580047.0,...,maybe,True,False,NaN,"{'id': '16012881', 'text': ""Olga is a special ...",NaN,61.500000,23.750000,tampere,fi
96056,14497656,"Stefano is a very pleasant, bright, positive a...",2014-01-04T18:13:43Z,positive,host,False,2965823,1003000811,Neira Kerović,10091417.0,...,maybe,False,False,NaN,"{'id': '14521125', 'text': 'I feel so lucky to...",NaN,43.343333,17.808056,mostar,ba
96057,14186471,Stefano is such a nice guy. He is the kind of ...,2013-11-07T08:59:42Z,positive,host,False,2965823,1002845239,Cristina Moldovanu,10007180.0,...,no,False,False,NaN,"{'id': '14167159', 'text': 'Cristina literally...",NaN,44.433333,26.100000,bucharest,ro
96058,14051639,"Stefano is AWESOME! The moment I met him, I kn...",2013-10-14T06:48:22Z,positive,host,False,2965823,1000495797,Nicole Decraene,8624150.0,...,no,False,False,NaN,"{'id': '14045891', 'text': ""I've had the pleas...",NaN,42.402505,-7.075915,valencia,es
96059,13502176,I Hosted Stefano and his friend for 3 days. Wa...,2013-07-22T07:02:17Z,positive,host,False,2965823,2503209,Madara Vanaga,5208331.0,...,no,False,False,NaN,"{'id': '13506711', 'text': ""Madara hosted me a...",NaN,34.092398,67.368958,riga,af
96060,13234874,"Stefano is a friendly, agreeable guy! I enjoye...",2013-06-12T11:38:57Z,positive,host,False,2965823,3581111,Victoria Shabardina,6286232.0,...,hang,False,False,NaN,"{'id': '13205657', 'text': ""Victoria is a grea...",NaN,47.416667,11.833333,munster,at
96061,12376667,The first thing that comes to mind is that Ste...,2013-02-04T10:31:31Z,positive,host,False,2965823,4849006,Camilla Thorne,7554127.0,...,no,False,False,NaN,"{'id': '12353463', 'text': 'Two days of freeee...",NaN,45.765502,4.875522,villeurbanne,fr
96062,12054664,I had the pleasure to spent 3 days with Stefan...,2012-12-13T17:10:37Z,positive,host,False,2965823,5520548,Marija Petreska,8225614.0,...,no,False,False,NaN,"{'id': '12049832', 'text': ""I've had the privi...",NaN,42.000000,21.433333,skopje,mk
96063,8953551,I can write a lot about Stefano because we gre...,2011-11-26T20:41:54Z,positive,host,False,2965823,3508506,Yuri Zavarella,6213627.0,...,yes,False,False,NaN,"{'id': '8850609', 'text': ""I know Yuri since t...",NaN,41.133333,16.850000,bari,it
96064,8887547,I will use a sentence from the reference befor...,2011-11-16T18:55:23Z,positive,host,False,2965823,1811745,Denitsa Georgieva,4516867.0,...,yes,False,False,NaN,"{'id': '8808440', 'text': ""I think that Denits...",NaN,42.683333,23.316667,sofia,bg
96065,8840968,Highly recommended to host or to be hosted by!...,2011-11-09T21:10:38Z,positive,host,False,2965823,2338934,Hristina Tsaneva,5044056.0,...,no,False,False,NaN,"{'id': '8795451', 'text': ""Even though - unfor...",NaN,47.366667,8.550000,zurich,ch
96066,8801920,I had a real good time hosting Stefano for 2 n...,2011-11-04T13:35:04Z,positive,host,False,2965823,3001613,Maria Geltsidou,5706735.0,...,no,False,False,NaN,"{'id': '8787909', 'text': ""I've had the honour...",NaN,41.154444,24.139444,drama,gr
96067,24100251,I thank Couchserfing that I met Stefano and An...,2017-09-22T13:09:27Z,positive,surf,True,2965823,2004489653,Torii Miki,158629923.0,...,no,True,False,NaN,NaN,NaN,42.133333,143.316667,meguro,jp
96068,22319491,Stefano is a real hero and green color lover. ...,2017-02-07T22:34:51Z,positive,surf,True,2965823,1003936478,Veronika Šímová,10664630.0,...,no,False,False,NaN,NaN,NaN,50.083333,14.466667,prague,cz
96069,21078611,Stefano is such an amazing guy! I stayed with ...,2016-08-22T12:47:08Z,positive,surf,True,2965823,2003243002,Andrea Carolina Maldonado de León,127749584.0,...,maybe,False,False,NaN,NaN,NaN,21.937500,-102.733333,saltillo,mx
96070,18047365,Stefano is a great person and very welcoming p...,2015-08-19T07:11:17Z,positive,surf,False,2965823,2489265,Meike Dalchow,5194387.0,...,no,False,False,NaN,"{'id': '18040551', 'text': ""I think there's ne...",NaN,49.683333,10.533333,frankfurt,de
96071,17525930,Stefano was willing to host me although I arri...,2015-05-10T22:26:10Z,positive,surf,False,2965823,635258,Susanne,3340381.0,...,hang,False,False,NaN,"{'id': '17499880', 'text': ""Susanne is for sur...",NaN,47.416667,9.733056,dornbirn,at
96072,17512902,Right before coming to Milan me and my friend ...,2015-05-07T18:05:24Z,positive,surf,False,2965823,2962610,Agata Piwowarczyk,5667732.0,...,no,False,False,NaN,"{'id': '17505969', 'text': 'Agata and her frie...",NaN,50.108250,19.195520,chełm,pl
96073,17476082,"Stefano is such a wonderful host! Chatty, witt...",2015-04-29T17:03:45Z,positive,surf,False,2965823,1006713188,Dobi Hancka,12724655.0,...,no,False,False,NaN,"{'id': '17470345', 'text': 'I really hope ther...",NaN,53.868930,10.687290,"lübeck,",de
96074,16876463,"Heeey, this person is amazing, the BEST host 2...",2014-12-17T23:02:48Z,positive,surf,False,2965823,1007091318,Jolanta Polakova,13005434.0,...,no,False,False,NaN,NaN,NaN,56.950000,24.100000,riga,lv
96075,16153336,Last year my friend Anna and I were travelling...,2014-08-27T16:25:54Z,positive,surf,False,2965823,3691176,Liza Arefeva,6396297.0,...,yes,False,False,NaN,"{'id': '14188590', 'text': 'Liza and her frien...",NaN,50.433333,30.516667,kyiv,ua
96076,14991681,"Hey Stefano, tnx. It was my pleasure to meet y...",2014-03-28T08:56:41Z,positive,surf,False,2965823,1003150664,Irina Iachim,10176521.0,...,no,False,False,NaN,"{'id': '14990264', 'text': 'Irina is definitel...",NaN,47.005556,28.857500,chisinau,md
96077,14279792,Stefano hosted me for one night in Milan. He o...,2013-11-24T14:29:07Z,positive,surf,False,2965823,1002805710,felixhaiduk,9986178.0,...,yes,False,False,NaN,"{'id': '14274431', 'text': ""I've hosted Felix ...",NaN,51.300000,12.333333,leipzig,de
96078,14213368,He is a nice guy and he cares so much about hi...,2013-11-11T21:36:00Z,positive,surf,False,2965823,958299,Parissa Rashidi,3663422.0,...,maybe,False,False,NaN,"{'id': '14217194', 'text': 'Parissa is a very ...",NaN,48.628014,2.665534,limoges,fr
96079,14204128,Stefano offered me a couch after the Pixies co...,2013-11-10T16:59:56Z,positive,surf,False,2965823,1000229843,Lorenzo Della Ratta,8452444.0,...,maybe,False,False,NaN,"{'id': '14184235', 'text': ""I've had the pleas...",NaN,44.516667,11.533333,prato,it
96080,14176173,Stefano hosted me for just one night but we sh...,2013-11-05T15:53:32Z,positive,surf,False,2965823,1000513880,jasmin tamburini,8636350.0,...,no,False,False,NaN,"{'id': '14184174', 'text': 'Since the first CS...",NaN,43.516667,10.666667,terricciola,it
96081,14083110,I just stayed one night but I had a great time...,2013-10-19T20:11:59Z,positive,surf,False,2965823,1001772908,Florence F.,9410471.0,...,no,False,False,NaN,"{'id': '14071944', 'text': ""Florence choosed m...",NaN,48.553164,-1.507535,pontorson,fr
96082,13219057,the biggest thanks to stefano for hosting me a...,2013-06-10T07:29:02Z,positive,surf,False,2965823,3181401,SARASAB,5886522.0,...,maybe,False,False,NaN,"{'id': '13070161', 'text': 'I\'ve had the plea...",NaN,36.806112,10.171078,tunis,tn
96083,12853685,"It was a short, but wonderful couchsurfing exp...",2013-04-16T07:01:20Z,positive,surf,False,2965823,562164,Sara Bartels Vitor,3267287.0,...,no,False,False,NaN,"{'id': '12855929', 'text': ""It has been a real...",NaN,47.061971,9.055342,netstal,ch
96084,11502882,I think stefone supar man. He is very simpal a...,2012-10-01T02:53:16Z,positive,surf,False,2965823,4204801,manish Bhaat,6909922.0,...,yes,False,False,NaN,"{'id': '11490856', 'text': ""Among the most enj...",NaN,24.900000,93.066667,jaipur,in

In [ ]:
G = nx.MultiDiGraph()
#Add hosts to the network
G.add_nodes_from([(rows['id'],{'city':rows['city'],'lat':rows['lat'],'lng':rows['lng']}) for idx,rows in hosts.iterrows()])
#Add users to the network from the source reviews/surfers and hosts
G.add_nodes_from([(rows['from'],{'city':rows['city'],'lat':rows['lat'],'lng':rows['lng']}) for idx,rows in rev.iterrows()])




#user_id_unique=set(hosts['id'].tolist())
#G.add_nodes_from([(rows['name'],{'lat':rows['lat'],'lng':rows['lng']}) for idx,rows in cities.iterrows()])
#G.add_nodes_from([(rows['fromPublicAddressDescription'],{'lat':rows['lat'],'lng':rows['lng']}) for idx,rows in rev.iterrows() if rows['lat'] !='NaN' and rows['lng']!='NaN'])
#for idx,r in rev.iterrows():
    #if r['from'] in hosts['id'].tolist() and r['to'] in hosts['id'].tolist():
    #if r['from'] in list(G.nodes()):
    #    if r['relationshipType']=='surf':
    #        #G.add_edge(hosts.loc[hosts['id']==r['from']]['city'].item(),hosts.loc[hosts['id']==r['to']]['city'].item())
    #        G.add_edge()
    #    if r['relationshipType']=='host':
    #        G.add_edge(hosts.loc[hosts['id']==r['to']]['city'].item(),hosts.loc[hosts['id']==r['from']]['city'].item())
#G.add_edges_from([(rows['to'],rows['from'])for index,rows in rev[['to','from','relationshipType']].iterrows() if rows['relationshipType']=='host' and G.has_node(rows['to']) and G.has_node(rows['from'])])
#G.add_edges_from([(rows['from'],rows['to'])for index,rows in rev[['to','from','relationshipType']].iterrows() if rows['relationshipType']=='surf' and G.has_node(rows['to']) and G.has_node(rows['from'])])

In [ ]:
nodes = list(G.nodes())
for idx,r in rev.iterrows():
    if r['from'] in nodes and r['to'] in nodes:
        if r['relationshipType']=='surf':
            G.add_edge(r['from'],r['to'])
        if r['relationshipType']=='host':
            G.add_edge(r['to'],r['from'])

In [ ]:
#pos = {x[0]:(x[1]['lat'], x[1]['lng']) for x in list(G.nodes(data=True))}
#pos
nx.get_no

In [ ]:
deg = nx.degree(sg)
sizes = [5 * deg[iata] for iata in sg.nodes]

In [ ]:
plt.figure(figsize = (10,9))
m = Basemap(projection='merc',llcrnrlon=-30,llcrnrlat=25,urcrnrlon=50,
urcrnrlat=70, lat_ts=0, resolution='l',suppress_ticks=True)
mx, my = m(cities['lng'].values, cities['lat'].values)
pos = {}
for count, elem in enumerate (cities['name']):
     pos[elem] = (mx[count], my[count])

nx.draw_networkx_nodes(G, pos = pos, node_list =G.nodes() ,node_color = 'firebrick', alpha = 0.8, node_size = [v[1] * 3 for v in G.degree()])
nx.draw_networkx_edges(G, pos = pos, edge_color='cornflowerblue', alpha=0.2, arrows = False)
#nx.draw_networkx_edges(G, pos = pos, edge_color='g', alpha=0.2, arrows = False)
m.drawcountries(linewidth = 3)
#m.drawstates(linewidth = 0.2)
m.drawcoastlines(linewidth=3)
m.bluemarble()
plt.tight_layout()
plt.savefig("map.png", format = "png", dpi = 300)

plt.show()